<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>AwesomeProject</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>NoyhSlim-Black.ttf</string>
		<string>NoyhSlim-BlackItalic.ttf</string>
		<string>NoyhSlim-Bold.ttf</string>
		<string>NoyhSlim-BoldItalic.ttf</string>
		<string>NoyhSlim-ExtraLight.ttf</string>
		<string>NoyhSlim-ExtraLightItalic.ttf</string>
		<string>NoyhSlim-Heavy.ttf</string>
		<string>NoyhSlim-HeavyItalic.ttf</string>
		<string>NoyhSlim-Italic.ttf</string>
		<string>NoyhSlim-Light.ttf</string>
		<string>NoyhSlim-LightItalic.ttf</string>
		<string>NoyhSlim-Medium.ttf</string>
		<string>NoyhSlim-MediumItalic.ttf</string>
		<string>NoyhSlim-Regular.ttf</string>
		<string>NoyhSlim-SemiLight.ttf</string>
		<string>NoyhSlim-SemiLightItalic.ttf</string>
		<string>NoyhSlim-Thin.ttf</string>
		<string>NoyhSlim-ThinItalic.ttf</string>
	</array>
</dict>
</plist>
